<!DOCTYPE html>
<html>
<head>
    <title>قائمة المنتجات</title>
</head>
<body>
<h1>قائمة المنتجات</h1>

<ul>
    {% for product in products %}
    <li>
        <img src="{{ product.image }}" alt="{{ product.name }}" width="100"/>
        <strong>{{ product.name }}</strong> - {{ product.price }} ريال
        <p>{{ product.description }}</p>

        {% if product.price > 200 %}
        <p>منتج فاخر</p>
        {% else %}
        <p>منتج عادي</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

</body>
</html>